.label {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 1rem;
}

.input,
.select,
.textarea {
	width: 100%;
	height: 3rem;
	border: 1px solid #c4d8ce;
	border-radius: 4px;
	margin-top: 4px;
	font-size: 16px;
}

.input,
.select {
	padding: 0 16px;
}

.textarea {
	max-width: 100%;
	padding: 16px;
}