.section-absolute-img {
    max-width: 16rem;
}

@media (max-width: 1024px) {
    .hide-m {
        display: none;
    }
    .section-absolute-img {
        max-width: 8rem;
    }
}

@media (max-width: 768px) {
    .section-absolute-img {
        max-width: 4rem;
    }
}