@media (max-width: 900px) {
    .hide-sm {
        display: none;
    }
}

@media (max-width: 600px) {
    .hide-xs {
        display: none;
    }
}

.clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}