@media (max-width: 900px) {
    .hide-sm {
        display: none;
    }
}

@media (max-width: 600px) {
    .hide-xs {
        display: none;
    }
}

.clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.no-scroll {
    overflow-y: hidden;
}

.spacer {
    margin-top: 5rem;

    @media (max-width: 600px) {
        margin-top: 2.5rem;
    }
}

.centered {
    margin: 0 auto;
    text-align: center;
}