.automated {
    padding: 0 3rem;
    h2 {
        max-width: 34ch;
    }
    .data-number {
        font-size: 4rem;
        line-height: 1.25;
    }
    .data-label {
        font-size: 1.25rem;
    }
    .progress-bar {
        height: 1rem;
        margin-top: 1rem;
        border-radius: .25rem;
    }
}

@media (max-width: 600px) {
    .automated {
        padding: 0;
    }
}