.button-filled {
    display: inline-block;
    padding: .5rem 1rem;
    line-height: 1.5;
    background-color: #0A415C;
    color: white;
    font-weight: bold;
    border-radius: .25rem;
}
.button-filled-yellow {
    display: inline-block;
    padding: .5rem 1rem;
    line-height: 1.5;
    background-color: #FFD500;
    color: #032130;
    font-weight: bold;
    border-radius: .25rem;
}