pb-intro {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 8.5rem;
    padding-bottom: 5.5rem;
    .intro {
        .intro-bg {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .intro-content {
            color: white;
        }
    }
}