.leaders {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3.5rem;
    color: white;
    @media (max-width: 600px) {
        padding: 2rem;
    }
    img {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .5rem;
    }
}