.price-list {
    table {
        width: 100%;
        th {
            font-weight: bold;
            background-color: #f3f4f5;
        }
        td {

        }
        th, td {
            text-align: left;
            border: 1px solid #e5e5e5;
            padding: .5rem .75rem;
        }
    }
    ul {
        list-style-type: disc;
        padding-left: 1.5rem;
    }
}